body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 20px;
}

section {
    display: flex;
    flex: 1;
    padding: 80px 200px;
    justify-content:center;
}

.section-one {
    background-color: #1f2937;
    img {
        width: 300px;
        background-color: #e5e7eb;
    }
    .title-container {
        flex: 1;
        padding: 28px;
    }
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 4px;
}

.section-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
        display: flex;
        gap: 8px;
    }
    ul li .subtext {
        width: 200px;
    }
    ul li img {
        width: 200px;
        height: 150px;
        border: 4px solid;
        border-radius: 8px;
        border-color: #3882f6;
    }
    .title {
        font-size: 24px;
        color: #1f2937;
        font-weight: 900;
    }
}

.section-three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;

    .quote {
        font-size: 36px;
        font-weight: 300;
    }

    .attribution {
        text-align: end;
        font-weight: 900;
    }
}

.section-four {
    .action-container {
        background-color: #3882f6;
        color: #f9faf8;
        padding: 40px;
        border-radius: 8px;
        display: flex;
        flex: auto;
        justify-content: space-evenly;

        .ca-text-container {
            
            .ca-title {
            font-weight: 900;
            }
        }
        
        button {
            border-color: #f9faf8;
            border-width: 2px;
        }
    }
}

ul {
    list-style: none;
}

a, .section-one .title-container .subtext {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}

button {
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px;
    width: 120px;
    height: 40px;
    margin-top: 4px;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}