body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}